<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.GET_TASKS" />
<uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/UnityThemeSelector"
        android:hardwareAccelerated="true"
        android:name="com.jackzheng.ourgame.demonadshowlib.MainApplication">

        <activity android:name="com.jackzheng.ourgame.demonadshowlib.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
      <activity
        android:name="com.nearme.game.sdk.component.proxy.ProxyActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:process=":gcsdk">
      </activity>
      <service
        android:name="com.nearme.game.sdk.component.proxy.ProxyApiService"
        android:process=":gcsdk"
        android:priority="1000">
      </service>

      <meta-data android:name="debug_mode" android:value="true" />
      <!-- 日志开关，发布时候设置为false -->
      <meta-data android:name="is_offline_game" android:value="true" />
      <!-- true:单机游戏   false:网游 -->
      <meta-data android:name="app_key" android:value="d8847665735b41b081b9da20a3b8cedf" />
      <!-- appKey -->
    </application>
</manifest>
