<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.soulgame.sgsdk.tgsdklib">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<uses-permission android:name="android.permission.GET_TASKS" />
<uses-permission android:name="android.permission.WRITE_SETTINGS" />
<uses-permission android:name="andorid.permission.MONUN_UNMOUNT_FILESYSTEMS" />
<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
<uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/UnityThemeSelector"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:hardwareAccelerated="true">

        <activity android:name="com.jackzheng.ourgame.demonadshowlib.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
        <activity
            android:name="com.zqhy.sdk.ui.H5WebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/CY_DialogTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.zqhy.sdk.ui.FloatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/zq_sdk_activity_transparent" />
        <activity
            android:name="com.zqhy.sdk.ui.HomeWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CY_DialogTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

      <service android:name="com.lzy.okserver.download.DownloadService" />
      <receiver android:name="com.zqhy.sdk.pay.wechat.AppReciverZq">
          <intent-filter>
             <action android:name="com.zqhy.wxpay.plugin.recive" />
          </intent-filter>
      </receiver>
          <provider
              android:name="android.support.v4.content.FileProvider"
              android:authorities="com.jackzheng.ourGame.hwbt.file.fileprovider"
              android:exported="false"
              android:grantUriPermissions="true">
          <meta-data
              android:name="android.support.FILE_PROVIDER_PATHS"
              android:resource="@xml/file_paths" />
      </provider>
    

    </application>
</manifest>
